APP_NAME="IIT Shelf"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=iit_shelf
DB_USERNAME=root
DB_PASSWORD=

PREREG_DB_HOST=127.0.0.1
PREREG_DB_PORT=3306
PREREG_DB_DATABASE=iit_shelf_prereg
PREREG_DB_USERNAME=root
PREREG_DB_PASSWORD=

AUTH_TEMP_DB_HOST=127.0.0.1
AUTH_TEMP_DB_PORT=3306
AUTH_TEMP_DB_DATABASE=iit_shelf_auth_temp
AUTH_TEMP_DB_USERNAME=root
AUTH_TEMP_DB_PASSWORD=

CACHE_STORE=file
MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@iitshelf.edu
MAIL_FROM_NAME="IIT Shelf Library"

FRONTEND_URL=http://localhost:5173